/*
 * vote-fedox.css developed by Fedox & J. Mazur as part of project "Plebiscyt"
 * Last modified: 24.01.19 20:10
 * Copyright (c) 2019
 *
 * You are allowed to:
 * - edit this file
 * - use this file in your own project
 *
 * You are not allowed to:
 * - sell this file
 * - delete this copyright notice
 * - change this copyright notice
 */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');
.vote-fedox{
    position: relative;
    font-family: 'Lato', sans-serif;
    width:600px;
    height:300px;
    box-sizing: content-box;
}
#header-fedox{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#title-fedox{
    font-size: 32px;
}
.vote-fedox p{
    font-size: 18px;
    padding: 3px;
    margin: 0;
}
.body-fedox{
    width: 100%;
}
.bodypart-fedox{
    padding: 20px;
    display: inline-block;
    width: 40%;
}

.vote-fedox .button-fedox{
    position: absolute;
    top: 5px;
    right: 80px;
    display: block;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    margin: 20px auto 0;
    width: 200px;
    height: 35px;
    padding: 5px;
    color: #fff;
    background-color: #007bff;
    outline:0;
    font-size: 28px;
    transition: color .15s, ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: .3rem;
    border: solid transparent;
}
.vote-fedox .button-fedox:hover{
    background-color: #0069d9;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}